/*
Colors used:
#ffe4c4 background color
#FFB7B2
#FF9AA2
#FFDAC1
#ff7f50

*/

.image img {
  border-radius: 50%;
}

.header {
  /*  max-width: 150px;
  minWidth:641px*/
  overflow: hidden;
  z-index: 9999;
  background-color: #ffe4c4;
  position: fixed;
  top: 0;
  width: 100%;
}

.header_content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0px 30px;
  margin: 0 auto;
}

body {
  background-color: #ffe4c4;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  padding-top: 60px;
}

main {
  padding: 10px 10%;
  margin: 10px;
  padding-top: 60px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ffe4c4;
  padding: 10px 10%;
  margin: 10px;
  border-top: 3px solid #FFDAC1;
}

p {
  margin: 3px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  padding: 0px;
  margin: 10px;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 2px;
}

a {
  color: #C23400;
  text-decoration: none;
  /* No underlining */
}

/*Important to have this*/
img {
  width: 100%;
}

a:hover {
  color: #C23400;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #C23400;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 0px 100px 0px;
}


.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.space {
  position: relative;
  height: auto;
  padding top: 17px: padding bottom: 17px;
}

div h1,
h2,
h3,
h4 {}

/* Layout styling */
.container {
  padding: 0 15px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

/*navigation styling*/
/*to hide the navigation items except the hamburger menu icon for screens less than 640px */
.navtoggle li:not(:last-child) {
  display: none;
}

/*this wont happen in the larger screen*/
/*.navtoggle li:not(:last-child) {
  display: inline-block;
}
*/
/*.navtoggle .responsive class will be used in javascript*/
.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li:not(:last-child) {
  display: block;
}

/*Nav bars*/
.logo {
  margin-right: auto;
  animation-name: logo;
  font-size: 1.8em;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline-block;
  padding: 0 15px;
  /*0 on top and 15 on left and right*/
}

.navigation li a {
  transition: all 0.3s ease 0s;
}

.btn,
button {
  /*  margin-left: 20px;*/
  padding: 9px 9px;
  background-color: transparent;
  border: 2px solid #ff7f50;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover,
.btn:hover {
  background-color: #FFB7B2;
}


.content {
  /*  position: relative; makes the content see through */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: centre;
  flex-basis: 100%;
  padding: 160px 0px 160px 0px;
}

.intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.column .textbox {
  max-width: 600px;
  padding: 100px 0px 100px 0px;


}

.content .textbox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}


/*
.content .textbox h2 span {
  color:#ff7f50;
  font-size: 1.2em;
  font-weight: 900;
}
*/

/*
.content .imgbox {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  padding-left: 50px;
  margin-top: 0px
}*/

.content .imgbox {
  width: 400px;
  justify-content: flex-end;
}

.column img {
  width: 400px;
  justify-content: flex-end;
}

.column svg {
  width: 400px;
  justify-content: flex-end;
}


.social-icons {
  list-style: none;
  padding-left: 0px;
}

.social-icons li {
  display: inline-block;
  padding: 0 15px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.social-icons a {
  transition: all 0.3s ease 0s;
}

.section{
margin-top: 160px;
}

/*
#work.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
  text-align: center; /* Centers text
  color: #ff7f50
}

#hero {
  background-color: #ffe4c4;
}
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
*/

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper .static-txt {
  color: #cc6540;
  font-size: 40px;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: -30px;
  height: 50px;
  line-height: 50px;
  /* height between list*/
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #C23400;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  top: 0px;
  animation: slide 6s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -100px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 0;
  line-height: 30px;
  /* height between list*/
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffe4c4;
  border-left: 2px solid #FC6D6D;
  /* its the | */
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 40px);
  }

  100% {
    left: 0;
  }
}


@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #f76414;
  }

  100% {
    fill: #ffffff;
  }
}

.sun {
  animation-duration: 7s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}




@keyframes sky-change {
  0% {
    fill: #68bedb;
  }

  50% {
    fill: #2B6AD0;
  }

  100% {
    fill: #171717;
  }
}

.sky {
  animation-duration: 7s;
  animation-name: sky-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 8s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes Train-move {
  from {
    transform: translate(2200px, 15px);
  }

  to {
    transform: translate(-2000px, 15px);
  }
}

.tube {
  animation-duration: 8000ms;
  animation-name: Train-move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes flower-color {
  0% {
    fill: #B5CE6F;
  }

  100% {
    fill: #D64A4A;
  }
}

.flower {
  animation-duration: 4s;
  animation-name: flower-color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes flower-rotate-keyframes {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.flower-rotate {
  animation-duration: 10s;
  animation-name: flower-rotate-keyframes;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  padding: 50px;
}




@media only screen and (min-width: 640px) {
  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
}