/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
border-bottom: 3px solid #FF9AA2;
#FFB7B2
#FF9AA2
#FFDAC1
*/

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 10%;
  margin: 10px;
border-top: 3px solid #FFDAC1;
border-bottom: 3px solid #FFDAC1;
  text-transform: uppercase;
  border-radius: 25px;
}

.logo {
  margin-right: auto;
  font-style: color:red;
  animation-name: logo;
  font-size: 1.8em;
  color: #ffffff;

}



@keyframes logo{
  from {font: red;}
  to {font: yellow;}
}


.navigation {
  list-style: none;
}

.navigation li {
  display: inline-block;
  padding: 0 15px;
  /*0 on top and 15 on left and right*/

}

.navigation li a {
  transition: all 0.3s ease 0s;
}

button {
  /*  margin-left: 20px;*/
  padding: 9px 9px;
  background-color: transparent;
  border: 2px solid #ff7f50;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #FFB7B2;
}


body {
  background-color:#ffe4c4;
  font-family: "Lato", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  padding: 0px;
  margin: 10px;


}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #957DAD;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}
a:active {
  /* selected link */
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
  align-items: center;
}



* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.table {
  padding: 10px 10%;
  margin: 20px;
}

div h1, h2, h3, h4 {
  margin: 5px;
}
.column img {
  max-width: 300px;
}

.social-icons {
  list-style: none;
}
.social-icons li {
  display: inline-block;
  padding: 0 15px;
}
.social-icons img {
  width: 30px;
  height: 30px;
}

.social-icons a {
    transition: all 0.3s ease 0s;
}

/*
#work.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
  text-align: center; /* Centers text
  color: #ff7f50
}

#hero {
  background-color: #ffe4c4;
}
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
*/

footer {
  display: flex;
  justify-content:center;
  background-color: #ffffff;
  padding: 10px 10%;
  margin: 10px;
border-top: 3px solid #FFDAC1;
border-bottom: 3px solid #FFDAC1;
border-radius: 25px;
}


@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes flower-color {
  0% {
    fill: #FFDAC1;
  }
  25% {
    fill: #FFB7B2;
  }
  50% {
    fill: #FF9AA2;
  }
  75% {
    fill: #C7CEEA;
  }
  100% {
    fill:#C7CEEA;
  }

}

.flower {
  animation-duration: 4s;
  animation-name: flower-color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes flower-rotate {
  from {
     transform:rotate(0deg);

      }
      to {
        transform:rotate(360deg);

}

.flower-rotate {
   animation-duration: 5000ms;
  animation-name: flower-rotate;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
padding:50px;
}
